<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./styles.css" rel="stylesheet">
</head>

<body>
	<h1>Add a new listing:</h1>
	<form action="/addcar" method="post" class="addForm">
		<label for="make">Make:</label>
		<input type="text" , name="make" placeholder="required">
		<br><br>
		<label for="model">Model:</label>
		<input type="text" , name="model" placeholder="required">
		<br><br>
		<label for="year">Year:</label>
		<input type="text" , name="year">
		<br><br>
		<label for="vin">VIN:</label>
		<input type="text" , name="vinNumber">
		<br><br>

		<label forid="bodyselect">Body Style:</label>
		<select id="bodyselect" name="body.bodystyle">
			<option value=" " disabled selected>Select body type:</option>
			<option value="sedan">sedan</option>
			<option value="coupe">coupe</option>	
			<option value="convertible">convertible</option>
			<option value="wagon">station wagon</option>
			<option value="truck">truck</option>
			<option value="van">van</option>
			<option value="unknown">unknown</option>
		</select>
		<br><br>

		<label for="color">Color:</label>
		<input type="text" , name="body.color">
		<br><br>

		<label for="drivetrain.engine">Engine type:</label>
		<input type="text" , name="drivetrain.engine">
		<br><br>

		<label forid="transmissionselect">Transmission:</label>
		<select id="transmissionselect" name="drivetrain.transmission">
			<option value="" disabled selected>Transmission type:</option>
			<option value="automatic">Automatic</option>
			<option value="manual">Manual</option>	
		</select>
		<br><br>

		<label forid="driveselect">Drivetrain:</label>
		<select id="driveselect" name="drivetrain.wheelDrive">
			<option disabled selected>Select drivetrain:</option>
			<option value="2WD">2WD</option>
			<option value="4WD">4WD</option>
			<option value="AWD">AWD</option>
		</select>
		<br><br>
		
		<input type="submit" value="Add to database">

	</form>
	<a href="/">Back</a>
</body>

</html>