<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./styles.css" rel="stylesheet">
</head>

<body>

	<h1 class="pageHeadline">Welcome to the Classic Car Repository!</h1>
	<h2>Listings in your Database:</h2>
	<p>
		<a href="/addcar">Add a vehicle to database</a>
	</p>
	<div class="listingContainer">
		{{#userListing}}
		<div class="individualContainer">
			<h4>{{year}} {{make}} {{model}}</h4>
			<p>VIN #{{vinNumber}}</p>
			<p>Body style: {{body.bodystyle}}</p>
			<p>Color: {{body.color}}</p>
			<p>Engine: {{drivetrain.engine}}</p>
			<p>Transmission: {{drivetrain.transmission}} {{drivetrain.wheelDrive}}</p>
			<a href="/updatecar/{{_id}}">Update listing</a><br>
			<a href="/deletecar/{{_id}}">Delete listing</a>
		</div>
		{{/userListing}}
	</div>
</body>

</html>